
code.juvix::after {
    font-family: var(--md-code-font-family);
    content: "Juvix v0.6.8";
    font-size: 10px;
    color: var(--md-juvix-codeblock-footer);
    position: absolute;
    top: 2.5ex;
    right: 3.5em;
    display: none;
}
